body {
    background-color: #FFFFE7;
    color: #151615;
    font-family: system-ui, sans-serif;
    padding: 0 2.5em;
    margin-top: 6em!important;
    max-width: 50em;
    margin: auto;
    word-wrap: break-word;
    line-height: 2rem;
}

h1, h2 {
  font-weight: 400;
}

p, #time, a, ul {
  font-size: 22px;
}

a {
  color: #2d5d8c;
}

#date {
  font-size: 16px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8em;
  margin: 0.6em 0;
  line-height: 3rem;
}

nav span {
  font-size: 40px;
  color: #555555;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.inline-hr {
  border: 0;
  border-left: 0.3rem solid var(--borderColor);
  height: 0.3rem;
  display: inline-block;
  vertical-align: middle;
  align-self: center;
  margin: 0;
}
hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.container {
  position: relative;
}


.switch {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    margin-top: 20px;
    width: 60px;
    height: 34px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6eb8ff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #6eb8ff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

h2 {
    margin-top: 10rem;
}

.workExperience>ul>li ul {
    padding-left: 0.5cm;
    list-style-type: disc;
}
.workExperience>ul {
    list-style-type: none;
    padding-left: 0;
}
.workExperience>ul>li {
    position: relative;
    margin: 0;
    padding-bottom: 0.5cm;
    padding-left: 0.5cm;
}
.workExperience>ul>li:before {
    background-color: #b8abab;
    width: 0.05cm;
    content: '';
    position: absolute;
    top: 0.1cm;
    bottom: -0.2cm;
    left: 0.05cm;
}
.workExperience>ul>li::after {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23484444' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    left: -0.09cm;
    top: 0;
    width: 0.35cm;
    height: 0.35cm;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}
#time {
    margin-left: 10px;
}

.flexible {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jobPosition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jobPosition span,
.projectName span {
    font-family: 'Source Sans Pro', sans-serif;
}

.squareList {
    list-style-type: square;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > div {
    margin-bottom: 0;
}

.flex-container hr {
    margin: 0;
}

.tab {
    display: flex;
}

.tab button {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
    margin-top: 10px;
}

.tabcontent.active {
  display: block;
}

.tabcontent {
    display: none;
}

.tablinks.active {
  background-color: #ddd;
}

body.dark-mode {
    background-color: #151615;
    color: #ffffe7;
}

body.dark-mode .tab {
    border-bottom: 1px solid #444;
}

body.dark-mode .tab button {
    background-color: #1f1f1f;
    color: #ffffe7;
    border: 1px solid #444;
}

body.dark-mode .tab button:hover {
    background-color: #2a2a2a;
}

body.dark-mode .tab button.active {
    background-color: #333;
    border-bottom: 2px solid #ffffe7;
}

body.dark-mode .tabcontent {
    background-color: #151615;
    color: #ffffe7;
}

body.dark-mode .tabcontent a {
    color: #b3c3ca;
}

body.dark-mode .tabcontent a:hover {
    color: #ffffff;
}

body.dark-mode hr {
    border-color: #444;
}